body {
	font-family: Helvetica;
	font-weight: 200;
	text-align: center;
}
header{
	display: inline-block;
}
header ul{
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	font-family: "Hevletica Neue", Ariel, sans-serif;
	list-style-type: none;
	text-transform: uppercase;
	float: right;
}
i {
	color: grey;
	opacity: .7;
	display: inline;
}