body {
	font-family: Helvetica;
	font-weight: 200;
	text-align: center;
}
header{
	height: 60px;
	margin-top:0px;
}
header ul li{
	background-color: transparent;
	display: inline-block;
	font-family: "Hevletica Neue", Ariel, sans-serif;
	list-style-type: none;
	float: right;
	padding: 15px;
}
i {
	color: grey;
	display: inline;
	opacity: .7;
}
h1 {
	color: grey;
	font-family: 'Lobster', cursive;
	float: left;
}
h2, h3, h4{
	font-family: Helvetica;
	font-weight: 300;
	text-align: center;

}
#gravatar {
	border-radius: 50px;
}