body {
	font-family: Helvetica;
	font-weight: 200;
	text-align: center;
}
header{

}
header ul li{
	background-color: transparent;
	display: inline-block;
	font-family: "Hevletica Neue", Ariel, sans-serif;
	list-style-type: none;
}
i {
	color: grey;
	display: inline;
	opacity: .7;
}