<div class="container">
  <h1> <%=(@user.handle).capitalize%>'s Tweets </h1>
  <% @tweets.each do |tweet| %>
    <!-- <a href="/users/<%=tweet.id%>"><%=tweet.content%><br></a> -->
    <p><%=tweet.content%><br></p>
    <%end%>
</div>
