<div class="container">
  <h2> <%=(@user.handle).capitalize%>'s Tweets </h2>
  <% @tweets.each do |tweet| %>
    <!-- <a href="/users/<%=tweet.id%>"><%=tweet.content%><br></a> -->
    <p><%=tweet.content%><br></p>
    <%end%>
</div>
