<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/signup">
    <input type="text" name="name" placeholder="name" > <br>
    <input type="text" name="email" placeholder="email" > <br>
    <input type="text" name="handle" placeholder="handle" > <br>
    <input type="text" name="bio" placeholder="bio" > <br>
    <input type="text" name="password" placeholder="password" > <br>
    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>


<div class="container">
  <h1>Login</h1>

  <form id="sign-up" method="post" action="/login">
    <input type="text" name="handle" placeholder="handle" > <br>
    <input type="text" name="password" placeholder="password" > <br>
    <div class="submit"><input type="submit" value="login"></div>
  </form>

</div>
