<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<h1>Baby Twitter</h1>
<% if logged_in? %>
  <form id="sign-out" method="get" action="/logout">
    <input type="hidden" value="_delete">
    <div class="submit"><input type="submit" value="logout">
  </form>
  <form id="home" method="get" action="/users/<%=current_user.id%>">
    <div class="submit"><input type="submit" value="home">
  </form>
  <form id="search_users" method="get" action="/users/search">
    <div class="submit"><input type="submit" value="search users">
  </form>
<%end%>
<body>
  <%= yield %>
</body>
</html>
